@tailwind utilities;

@layer utilities {
    .collapse {
        visibility: visible;
    }
}

.image > img {
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
}

.image > img:hover {
    /*transform: scale(1.1);*/
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
    -webkit-box-shadow: 3px 3px 0 0 #1F1D0D;
    box-shadow: 3px 3px 0 0 #1F1D0D;
}
